# Build directories
/build/
/cmake-build-*/
/out/

# CMake files
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt
CMakePresets.json
CMakeSettings.json

# Executables
*.exe
*.out
*.app

# IDE/Editor files
*.swp
*.swo
*.user
*.vcxproj*
.idea/
.vscode/
.vs/

# OS-specific
.DS_Store
Thumbs.db
